In [1]:
import pandas as pd

In [4]:
# Passo 1: Ler os dados do arquivo CSV
csv_file = "dados.csv"
df = pd.read_csv(csv_file)

# Passo 2: Aplicar Transformações (Exemplo: Filtrar e renomear colunas)
df = df[df['idade'] > 30]  # Exemplo de filtro: manter apenas registros com idade maior que 30
df = df.rename(columns={'nome': 'nome_cliente', 'cidade': 'cidade_residencia'})  # Exemplo de renomear colunas

# Passo 3: Salvar os dados transformados em um novo arquivo JSON
json_transformed_file = "dados_transformados.json"
df.to_json(json_transformed_file, orient="records")

# Exibir os dados transformados para verificar
df.head()

  nome_cliente  idade cidade_residencia
0         João     35         São Paulo
2       Carlos     42    Belo Horizonte
3          Ana     31      Porto Alegre